h1 {
	font-family:"arial";
	text-align: center;
}
body {
	background-color: ;
}
a {
	border: 2px dashed black;
}
p {
	font-family: "broadway";
}
table {
	border: 1px solid blue;
	padding: 2px;
}
td {
	border: 1px solid yellow;
	font-family: "arial";
	padding: 2px;
}